SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/scribbly
SPRING_DATASOURCE_USERNAME=auth_user
SPRING_DATASOURCE_PASSWORD=auth_pwd
JWT_PRIVATE_KEY_PATH=classpath:keys/jwt_private_key.pem
JWT_PUBLIC_KEY_PATH=classpath:keys/jwt_public_key.pem